body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* #search {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

#search p {
  position: absolute;
  margin: 0px 0px 0px 450px;
}
#search select {
  position: absolute;
  left: 8%;
} */

.mainDivEpisodes-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin-top: 20px;
}

.divEpisodes {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.divEpisodes:hover {
  transform: translateY(-5px);
}

.divEpisodes img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.divEpisodes h1 {
  font-size: 18px;
  margin: 10px 0;
}

.divEpisodes p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}
.loading {
  background-image: url("https://i.gifer.com/7plU.gif");
  display: block;
  width: 20em;
  height: 20em;
  background-size: cover;
}
.errorM {
  display: block;
  width: 200px;
  height: 200px;
}

.mainDivShows-view {
  display: flex;
  flex-direction: column;
}
.showsContent {
  display: flex;
  gap: 15px;
  width: 100%;
}
.showsStatus {
  background-color: red;
  width: 20%;
}

.showsSummary {
  width: 65%;
  display: flex;
}
